@{
    ViewData["Title"] = "Listening..";
}


<style>
    .defect-div {
        width: 90%;
        margin: 0.5rem auto;
        background-color: whitesmoke;
        padding: 1rem;
        /* display: flex; */
        border-radius: 0.3rem;
    
    }

    .defect-pic {
        display: block;
        width: 8%;
        background-color: gray;
        padding: 0.3rem;
        float: left;
    }

    .defect-body {
        margin-left: 1rem;
        width: 92%;
    }

    .defect-date {
        float: right;
    }
    
    .defect-table {
        vertical-align: middle!important;
        text-align: center!important;
    }
    
    .defect-table td {
        
    }
</style>




<div class="text-center">
    <div><h4>University of Twente</h4></div>
    <div><h6>Challenge_1 Group_4</h6></div>
    <hr/>
    
    <h1 class="display-4" style="font-size: 2.5rem; margin-bottom: 1rem;">Listening for Defects</h1>
    
    <div id="info-container">
        
    </div>
    
    <input id="testNumber" hidden="true"/>
    
    <div id="table-container">
        
    </div>
    

</div>

@section Scripts
{
    
    <script>
        
        $(document).ready(function() {

            setInterval(function() { getDbData(); }, 3000);
            setInterval(function() { getInfo(); }, 3000);
            setInterval(function() { testDefect(); }, 3000);
            
            function testDefect() {
                $.ajax({
                    type: "GET",
                    url: "/TestDefect"
                });
            }

            


            function getDbData() {
                $.get("/ReceiveDefect",
                    function(response) {
                        $("#table-container").html($(response));

                        
                    });
            }
            
            function getInfo() {
                $.get("/ReceiveData",
                    function(response) {
                        const testNumber = $($(response).find(".testNumber")).attr("testNr");
                        
                        if (testNumber !== 0 && testNumber !== undefined) {
                            $.get("/ReceiveInfo/" + testNumber,
                                function(resp) {
                                    $("#info-container").html($(resp));
                                    $("#listen").css("display", "none");
                                });
                        }
                        
                    });
            }

            


        });

    </script>
}
