@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div><h4>University of Twente</h4></div>
    <div><h6>Challenge_1 Group_4</h6></div>
    <hr/>
    
    <h1 class="display-4">Data test from phone</h1>
    <button style="margin-bottom: 1rem" class="btn btn-danger" onclick="location.href='@Url.Action("DeleteAll")'">Delete All</button>
    
    <div id="table-container">
        
    </div>
    

</div>

@section Scripts
{
    <script>
        $(document).ready(function() {
            
            setInterval(function(){getDbData();}, 1000);
            
            function getDbData() {
                $.ajax({
                    type: "GET",
                    url: "/ReceiveData",
                    success: function(response) {
                        console.log(response);
                        $("#table-container").html(response);
                    }
                });
            }
            
            
        });

    </script>
}
